@model CoffeeShopLabTable

@{
    ViewBag.Title = "Detail";
}

    <h1>@Model.Name</h1>
    <b>Description: @Model.Description</b>
    <b>Category: @Model.Category</b>
    <br />
    <b>Price: @Model.Price</b>


